@media only screen and (max-width: 600px) {
  .intro-master-container {
    height: 250px;
    .intro-cooking-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
}
