nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 35px;
  .container-fluid {
    img {
      margin-top: -20px;
      height: 70px;
      width: 70px;
    }
  }
  .login-signup-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    button {
      height: 60%;
      width: 70px;
      text-align: center;
      background-color: white;
      color: #455A5C;
      border-radius: 10px;
      outline: none;
      font-weight: bold;
      border: 1px solid #455A5C;
    }
  }
}
